<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.ycdn.io/assets/design-system-bootstrap/0.0.14/yodle/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.ycdn.io/assets/bootstrap/0.0.9/lighthouse/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css" />
    <title>GARY</title>
</head>
<body>
<div class="side-nav-wrapper" id="side-nav-insertion"></div>
<div id="root"></div>

<script src="https://cdn.ycdn.io/assets/yo-ui/0.0.75/yo.min.js"></script>
<script src="https://cdn.ycdn.io/assets/yo-ui/0.0.75/components/navigation.min.js"></script>
<script type="text/javascript" src="assets/bundle.js"></script>

</body>
</html>